@import "tailwindcss";

/* View Transitions API */
@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@theme {
  --font-daxline: "Daxlinecyrtf", "sans-serif";

  --color-body: #222;
  --color-snow: #fff;
  --color-accent: #268646;

  --breakpoint-*: initial;
  --breakpoint-sm: 40rem; /*640px*/
  --breakpoint-md: 48rem; /*768px*/
  --breakpoint-lg: 64rem; /*1024px*/
  --breakpoint-xl: 80rem; /*1280px*/
  --breakpoint-2xl: 120rem; /*1920px*/
}

@font-face {
  font-family: "Daxlinecyrtf";
  src: url("./assets/fonts/DaxlineCyrTF-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Daxlinecyrtf";
  src: url("./assets/fonts/DaxlineCyrTF-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Daxlinecyrtf";
  src: url("./assets/fonts/DaxlineCyrTF-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Daxlinecyrtf";
  src: url("./assets/fonts/DaxlineCyrTF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bd {
  border: 1px solid #f00;
}

@layer components {
  html,
  body {
    @apply m-0 h-full w-full scroll-smooth p-0 font-daxline text-body/70;
  }

  #container {
    @apply flex flex-col min-h-full;
  }

  .menu-link {
    @apply hover:text-accent hover:underline;
  }

  .menu-link.active {
    @apply text-accent font-semibold;
  }

  .main {
    @apply grow;
  }

  .nbswo-bg {
    background-image: url(./assets/img/nbswo-gr.svg);
  }

  .footer {
    @apply flex-shrink-0;
  }

  .container {
    @apply mx-auto max-w-[1440px] px-4;
  }

  h2,
  .h2 {
    @apply text-2xl lg:text-4xl text-accent text-center;
  }

  h3,
  .h3 {
    @apply text-xl lg:text-2xl text-body font-bold;
  }

  hr {
    @apply border-body/10;
  }

  [data-state="active"] {
    @apply text-accent font-medium;
  }

  .text-lead {
    @apply text-lg lg:text-xl text-body;
  }

  .list-disc {
    @apply ml-4 max-md:!list-none;
  }

  .list-hyphen li {
    @apply relative before:absolute before:top-0 before:left-0 before:content-['\2010'] pl-4;
  }

  .btn {
    @apply px-8 py-4 tracking-wide rounded-full text-xl font-medium;
  }

  .breadcrumbs {
    @apply flex items-center text-white/50;
  }

  .breadcrumbs a {
    @apply text-white/50 hover:text-white transition after:content-['/'] after:px-2;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1440px] px-4;
  }
}

/* Prevent layout shifts */
img {
  max-width: 100%;
  height: auto;
}

/* swiper carousel starts */
.swiper-container,
.swiper-slide {
  @apply !h-auto;
}

.swiper-slide img {
  aspect-ratio: 1440 / 600;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.swiper-slide-active img,
.swiper-slide-visible img {
  opacity: 1;
}

@media (max-width: 560px) {
  .swiper-slide img {
    aspect-ratio: 560 / 600;
  }
}
